---
title: BDSI - Behavioural Data Science Incubator
layout: default
bodyClass: page-home
---

<!-- <div
    class="intro pb-6"
    style="height: 20vw; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); background-position: -10% center; background-size: cover;"
></div> -->
<!-- <div id="event-cta">
    <div class="container">
        <div class="labels">
            <div class="title">Data Science Week</div>
            <div class="subtitle">
                Join the 4th BDSi Data Science Week March 6th-13th, packed
                full of workshops, seminars and friendly competition.
            </div>
            <div style="display: flex; gap: 1em">
                <a
                    class="btn btn-outline-secondary font-weight-bold"
                    href="/data-science-week"
                >
                    More information
                </a>
                <a
                    class="btn btn-secondary font-weight-bold"
                    href="https://www.utwente.nl/en/bms/research/bdsi/data-science-week-2023/"
                >
                    Register now!
                </a>
            </div>
        </div>
        <div class="img-wrapper d-none d-lg-flex" style="pointer-events: none;">
            <img
                src="{% link /assets/images/data-science-week-2023-spring.svg %}"
                alt="people at work"
            />
        </div>
    </div>
</div> -->

<div id="main-with-sidebar">
    <div id="main">
        {% include find-expertise.html %}

        <h2>Latest updates</h2>
        <div class="row news-items">
            {% capture currentDate %}{{- site.time | date: "%B %e, %Y" -}}{% endcapture %}
            {% assign items = site.events | concat: site.news | concat: site.blogs | where: "frontpage", true | sort: "date" | reverse %} 
            {% for item in items limit:3 %}
                <div class="col-12 col-md-4">{% include news-card.html %}</div>
            {% endfor %}
        </div>

        <h2 class="mb-3">Our Services</h2>
        <div class="row">
            {% for service in site.services %}
            <div class="col-12 col-md-6 mb-2">
                <div class="service service-summary">
                    <div class="service-content">
                        <h4>
                            <a href="{{site.baseurl}}{{ service.url }}">{{ service.title }}</a>
                        </h4>
                        {{ service.introduction | markdownify }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="button center"
            href="{% link about.html %}#services">
            View All Services
        </a>
    </div>
    <div id="sidebar">
        {% capture renderDate %}{{- site.time | date: "%Y-%m-%d" -}}{% endcapture %}
        {% assign events = site.data.calendar | concat: site.events %}
        {% assign filtered_events = '' | split: '' %}
        {% for event in events %}
            {% capture startDate %}{{- event.date | date: "%Y-%m-%d" -}}{% endcapture %}
            {% if startDate >= renderDate %}
                {% assign filtered_events = filtered_events | push: event %}
            {% endif %}
        {% endfor %}
        {% assign sorted_events = filtered_events | sort_natural: "date" %}

        <div class="calendar">
            <h3>Upcoming events</h3>

            <div class="calendar-items">
                {% assign prev_title = "" %}
                {% for event in sorted_events limit: 10 %}
                <div class="calendar-item{% if event.title == prev_title %} repeat-item{% endif %}">
                    {% if event.image and event.title != prev_title %}
                        <div style="background-image: url({% link {{event.image}} %});" class="calendar-item-image"></div>
                    {% endif %}
                    {% unless event.title == prev_title %}
                        {% assign prev_title = event.title %}
                        {% if event.url %}
                            <h6 class="calendar-item-title">
                                <a href="{% link {{event.path}} %}" title="{{event.title}}">{{event.title}}</a>
                            </h6>
                        {% else %}
                            <h6 class="calendar-item-title">{{event.title}}</h6>
                        {% endif %}
                    {% endunless %}
                    <div class="calendar-item-time">
                        {% include datetime.html page=event %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
