{%- if include.page -%}
    {%- assign page = include.page -%}
{%- endif -%}

{% assign header = include.header | default: "h4" %}
{%- assign authors = include.authors | default: page.authors -%}

{%- if authors == nil -%} 
    {% if page.author != nil %}
    {% assign authors = "" | split: "" %}
    {% assign authors = authors | push: page.author %}
    {% endif %}
{%- endif -%}

{% if authors != nil %}
<div class="author-list">
    {%- for author in authors -%}
        {%- if forloop.first != true -%}
            <{{header}}>{% if forloop.length > 2 %},{%endif%}&MediumSpace;</{{header}}>
            {%- if forloop.last -%}
                <{{header}}>and&MediumSpace;</{{header}}>
            {%- endif -%}
        {% endif %}
        {% include author-list-item.html %}
    {% endfor %}
</div>
{% endif %}