<div class="bdsi-venn">
    <a class="circle research-support" href="{{site.baseUrl}}/research">
        <h1 data-toc-skip="true">Research</h1>
        <h2 data-toc-skip="true" class="text-secondary">Support</h2>
    </a>
    <a class="circle community-building" href="{{site.baseUrl}}/community">
        <h1 data-toc-skip="true">Community</h1>
        <h2 data-toc-skip="true" class="text-secondary">Building</h2>
    </a>
    <a class="circle expertise-sharing" href="{{site.baseUrl}}/expertise">
        <h1 data-toc-skip="true">Expertise</h1>
        <h2 data-toc-skip="true" class="text-secondary">Sharing</h2>
    </a>
</div>
