{% if include.events %}
{% assign events = include.events %}
{% endif %}

<div class="calendar-items">
    {% assign prev_title = "" %}
    {% assign prev_date = "" %}
    {% for event in events limit: 10 %}

    {% assign title_lower = event.title | downcase %}
    {% assign event_image = event.image %}
    {% if event.path %}
        {% capture event_path %}{% link {{event.path}} %}{% endcapture %}
    {% else %}
        {% assign event_path = false %}
    {% endif %}
    {% if event.image %}
        {% assign event_image = event.image %}
    {% else %}
        {% assign event_image = false %}
    {% endif %}

    {% unless event_path %}
        {% if event.url %}
            {% assign event_path = event.url %}
        {% endif %}
    {% endunless %}

    {% unless event_path %}
        {% if title_lower contains "bdsi open hour" %}
            {% capture event_path %}{% link research.html %}#open-hours{% endcapture %}
            {% assign event_image = "assets/images/open-hour-header.png" %}
        {% endif %}
    {% endunless %}

    {% unless event_path %}
        {% for community in site.communities %}
            {% for keyword in community.keywords %}
                {% assign keyword_lower = keyword | downcase %}
                {% if title_lower contains keyword_lower %}
                    {% capture event_path %}{% link {{ community.path }} %}{% endcapture %}  
                    {% assign event_image = event.image | default: community.image %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endunless %}

    {% unless event_image %}
        {% if event.img_url %}
            {% assign event_image = event.img_url %}
        {% elsif event.image %}
            {% capture event_image %}{% link {{event.image}} %}{% endcapture %}
        {% endif %}
    {% endunless %}

    {% unless event_image %}
        {% assign event_image = "assets/images/calendar-blank.png" %}
    {% endunless %}


    <a href="{{event_path}}" title="{{event.title}}" class="calendar-item">
        {% if event_image %}
            <div style="background-image: url('{{event_image}}');" class="calendar-item-image{% if event.source == 'BMSLab' %} bms-lab{% endif %}"></div>
        {% endif %}
        {% if event_path %}
            <h6 class="calendar-item-title">{{event.title}}</h6>
        {% else %}
            <h6 class="calendar-item-title">{{event.title}}</h6>
        {% endif %}
        <div class="calendar-item-time">
            {% include datetime.html page=event %}
        </div>
    </a>
    {% endfor %}
</div>
