{% assign title_element = include.title_element | default: "h2" %}
{% assign title = include.title | default "no title given, add 'title=...' %}
{% assign content = include.content | default "no content given, add 'content=...' %}
{% capture shadow %}{{include.shadow | default: "true" }}{% endcapture %}
{% if include.cta_link == "<email>" %}
  {% capture cta_link %}mailto:{{site.data.contact.email}}{% endcapture %}
{% else %}
  {% assign cta_link = include.cta_link %}
{% endif %}

<div
  class="card mt-2 mb-2{% if shadow == 'true' %} shadow{% endif %}{% if include.bg %} bg-{{include.bg}}{% endif %}{% if include.text %} text-{{include.text}}{% endif %}">
  <div class="card-body">
    <div class="card-title">
      <{{title_element}} {% if include.toc != 'true' %} data-toc-skip="true"{% endif %}>{{title}}</{{title_element}}>
      {% if include.subtitle %}
      <div class="small text-muted">{{include.subtitle}}</div>
      {% endif %}
    </div>
    {% if include.content %}
    <div class="card-text">
      {{content}}
    </div>
    {% endif %}
    {% if include.cta %}
    <a class="button lg mt-2" href="{{cta_link}}">{{include.cta}}</a>
    {% endif %}
  </div>
</div>
