{% capture url %}{{include.url | default: "https://placekitten.com/800/640"}}{% endcapture %}
{% capture caption %}{{include.caption | default: "No caption given, please add a captionn"}}{% endcapture %}
{% capture alt %}{{include.alt | default: include.caption }}{% endcapture %}
{% capture caption_element %}{{include.caption_element | default: "h6"}}{% endcapture %}

<div class="card mb-2{% unless include.no_shadow %} shadow{% endunless %}{% if include.bg %} bg-{{include.bg}}{% endif %} mx-2">
  {% if include.iframe %}
  <iframe src="{% link {{include.iframe}} %}" width="100%" height="500px"></iframe>
  {% else %}
  <img src="{% link {{url}} %}" alt="{{alt}}" class="card-img-top" />
  {% endif %}
  <div class="card-body px-2 py-1">
    <div class="card-text">
      <{{caption_element}} class="m-0 p0 m0{% unless include.no_label %} label-figure{% endunless %}">{{caption}}</{{caption_element}}>
    </div>
  </div>
</div>
