<div class="main-menu" id="main-menu">
    <ul>
        <li><a href="{{site.baseurl}}/about" class="{% if page.url contains 'about' %}current{% endif %}">About</a></li>
        <li><a href="{{site.baseurl}}/blogs" class="{% if page.url contains 'blogs' %}current{% endif %}">Blog</a></li>
        <li>
            <a href="{{site.baseurl}}/community" class="{% if page.url contains 'community' %}current{% endif %}">
                Community
                <div class="rollover">Building</div>
            </a>
        </li>
        <li><a href="{{site.baseurl}}/team" class="{% if page.url contains 'team' %}current{% endif %}">Team</a></li>
        <li><a href="{{site.baseurl}}/bookings" class="{% if page.url contains 'bookings' %}current{% endif %}">Bookings</a></li>
        <li><a href="{{site.baseurl}}/contact" class="{% if page.url contains 'contact' %}current{% endif %}">Contact</a></li>
    </ul>
</div>
