<div class="main-menu" id="main-menu">
    <ul>
        <li><a href="{{site.baseurl}}/about" class="{% if page.url contains 'about' %}current{% endif %}">About</a></li>
        <li><a href="{{site.baseurl}}/research" class="{% if page.url contains 'research' %}current{% endif %}">Research</a></li>
        <li><a href="{{site.baseurl}}/expertise" class="{% if page.url contains 'expertise' %}current{% endif %}">expertise</a></li>
        <li><a href="{{site.baseurl}}/community" class="{% if page.url contains 'community' %}current{% endif %}">community</a></li>
        <li><a href="{{site.baseurl}}/events" class="{% if page.url contains 'events' %}current{% endif %}">Events</a></li>
        <li><a href="{{site.baseurl}}/team" class="{% if page.url contains 'team' %}current{% endif %}">Team</a></li>
        <li><a href="{{site.baseurl}}/blogs" class="{% if page.url contains 'blogs' %}current{% endif %}">Blog</a></li>
    </ul>
</div>
