@use "sass:math";

.bdsi-venn {
    --margin: min(5em, 10%);

    display: block;
    aspect-ratio: 1/1;
    position: relative;
    padding: 0 var(--margin);
    margin: 0 auto;
    width: calc(100% - var(--margin) * 2);

    .circle {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

        position: absolute;
        width: 52%;
        height: 52%;

        transition: border 0.2s ease-in-out;
        
        border: 6px solid var(--accent-colour, steelblue);
        border-radius: 50%;

        box-shadow: 0 0 4px var(--accent-colour, black),
                    inset 0 0 2px var(--accent-colour, black);

        &:hover {
            border-width: 8px;
        }
    }

    .circle:nth-child(1) {
        --accent-colour: #cf0071;

        left: calc(cos(math.div(math.$pi * -3, 6)) * (50% / 2) + (50% / 2));
        top:  calc(sin(math.div(math.$pi * -3, 6)) * (50% / 2) + (50% / 2));
    }

    .circle:nth-child(2) {
        --accent-colour: #0093b3;

        left: calc(cos(calc(math.$pi * 1/6)) * (50% / 2) + (50% / 2));
        top:  calc(sin(calc(math.$pi * 1/6)) * (50% / 2) + (50% / 2));
    }

    .circle:nth-child(3) {
        --accent-colour: #ec7908;

        left: calc(cos(calc(math.$pi * 5/6)) * (50% / 2) + (50% / 2));
        top:  calc(sin(calc(math.$pi * 5/6)) * (50% / 2) + (50% / 2));
    }

    .text-secondary {
        // border: 1px solid grey;            
        padding: 0 .2em;
        text-decoration: none;
    }

    a {
        text-decoration: none;

        h1 {
            text-decoration: underline;
        }
    }
}