.calendar {
    .calendar-items {
        display: flex;
        flex-flow: column wrap;
        // grid-template-columns: 1fr 1fr;
        // display: flex;
        // flex-flow: column nowrap;

        .calendar-item {
            --link-hover-filter: none;

            display: grid;
            grid-template-columns: [left] min-content [main] 1fr;
            grid-template-rows: [title] min-content [content] 1fr;
            text-decoration: none;

            &:has(.calendar-item-image) {
                column-gap: 0.5em;
            }

            &+.calendar-item {
                margin-top: 1em;

                &.repeat-item {
                    margin-top: 0;
                }
            }

            &:hover, &:active, &:focus-within {
                background-color: rgba(255,255,255,0.8);

                .external::after {
                    background-color: rgba(0,0,0,.9);
                    width: 40%;
                }
            }

            transition: all 0.2s ease-in-out;
        }

        .calendar-item-title {
            grid-row: title;
            grid-column: main;

            margin: 0;
            padding: 0;
            padding-top: 0.2em;
        }

        .calendar-item-time {
            font-size: 90%;
            color: $gray-600;
            grid-row: content;
            grid-column: main;
        }

        .calendar-item-image {
            // max-width: 150px;
            // min-width: 150px;
            width: 100px;
            aspect-ratio: 1.41/1;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            grid-row: 1/-1;
            grid-column: left;

            &.external::after {
                content: "";
                display: block;
                width: 33%;
                height: 100%;
                background-color: rgba(0,0,0,.6);
                background-size: 80%;
                background-repeat: no-repeat;
                background-position: center center;
                transition: all 0.2s ease-in-out;

                
            }

            &.external.bms-lab::after {
                background-image: url('/assets/images/content/bmslab/logo-light.svg');
            }

            &.external.dcc::after {
                background-image: url('/assets/images/dcc-logo-light-2.svg');
            }
        }

        @include media-breakpoint-down(lg) {
            .calendar-item-title {
                grid-column: left/-1;
            }
            .calendar-item-image {
                grid-row: content;
            }
        }
    }
}