.calendar {
    .calendar-items {
        display: flex;
        flex-flow: column wrap;
        // grid-template-columns: 1fr 1fr;
        // display: flex;
        // flex-flow: column nowrap;

        .calendar-item {
            display: flex;
            flex-flow: row nowrap;
            gap: 1em;
            
            &+.calendar-item {
                margin-top: 1.5em;

                &.repeat-item {
                    margin-top: 0;
                }
            }
        }

        .calendar-item-content {
            display: flex;
            flex-flow: column nowrap;

            .calendar-item-title {
                margin-bottom: 0.1em;
            }
        }

        .calendar-item-image {
            max-width: 100px;
            min-width: 100px;
            aspect-ratio: 1/1;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}